<div class="ui masthead segment">
  <div class="ui text container">
    <h2 class="ui huge header">
        <img src="../../assets/CartabellInkDrop.png">
        <div class="content">
          <strong>Cartabell'</strong>
          <div class="sub header">Your Scribbles, made accessible.</div>
        </div>
    </h2>
    <p>Do you want an easy way to jot down ideas and snippets, save them, and find them later?</p>
    <p>Join Tiffany and many others who can't live without Cartabell'!</p>
      <img src="../../assets/Welcome1.JPG"  class="ui big rounded centered image">
      <div class="ui hidden divider"></div>
    <p>Once you've <a routerLinkActive='active' routerLink="/register" >registered</a>, you can immediately start
      adding new Scribbles — no tedious setup required!<br/><br/>Just click on the pencil icon, and you're already adding
      your first Scribble.</p>
    <img src="../../assets/Iconbar.JPG" class="ui centered small rounded image">
    <p><br/>Scribbles have tons of useful features... You can "star" your most important Scribbles, so they always appear on top.
      You can add colored markers so they're more easy to categorize and find. And you can share them so others can edit them
      (but don't worry, they can't delete your Scribbles)!</p>
    <img src="../../assets/AddingScribble.JPG"  class="ui big rounded centered image">
    <p><br/>What are you waiting for? Your time is precious! <a routerLinkActive='active' routerLink="/register" >Join and start
      Scribbling within less than 30 seconds!</a></p>
  </div>
</div>