<div class="wrapper">
<div id="nonfooter">
<div class="ui inverted teal vertical segment" id="header">
    <div class="ui page stackable grid">
      <div class="three wide column">
        <h2 class="ui inverted header">Cartabell'</h2>
        <p>Proof of concept</p>
      </div>
      <div class="three wide right floated column">
        <div class="ui big basic icon buttons">
          <button *ngIf='!(currentUser | async) else ng-hide'class="ui button" title="Login">
            <a class="item" routerLinkActive='active' routerLink="/login">
              <i class="large black user icon"></i>
            </a>
          </button>
          <button *ngIf='!(currentUser | async) else ng-hide' class="ui button" title="Register">
            <a class="item" routerLinkActive='active' routerLink="/register">
              <i class="large black user plus icon"></i>
            </a>
          </button>
          <button *ngIf='(currentUser | async) else ng-hide' class="ui button" (click)=addEntryDialog() title="Add new Scribble">
            <i class="large black write icon"></i></button>
          <button *ngIf='(currentUser | async) else ng-hide' class="ui button" title="Log out">
            <a class="item" routerLinkActive='active' routerLink="/logout">
              <i class="large black power off icon"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  
    <div class="ui segment">
      <router-outlet></router-outlet>
    </div>

  <div class="ui hidden divider"></div>
</div>
  <div class="ui inverted black vertical segment" id="footer">
    <p>&copy; 2018 Pieter-Jan Van Damme</p>
  </div>

</div>